.header__return-lobby {
  display: flex;
  align-items: center;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  width: 50%;
}

.main--404 {
  padding-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 8rem;
  justify-content: center;
  margin-top: 5rem;
}

.main--404__titlle {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: pulso;
}

@keyframes pulso {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
