* {
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  --charcoal: #adffad;
  --deep: #c2ffc2;
  --slate: #d6ffd6;
  --baby: #f7cdca;
  --misty: #fae1df;
  --lavender: #fceeed;
}

html {
  font-size: 62.5%;
}

body {
  background: rgb(247, 205, 202);
  background: linear-gradient(
    0deg,
    var(--baby) 0%,
    var(--misty) 50%,
    var(--lavender) 100%
  );
  min-height: 100vh;
}

a {
  color: #000;
}

.header {
  background: var(--charcoal);
  background: linear-gradient(
    357deg,
    var(--charcoal) 0%,
    var(--deep) 50%,
    var(--slate) 100%
  );
  box-shadow: 0rem 0rem 5rem 0.5rem rgba(128, 128, 128, 0.2);
  color: #002927;
  display: flex;
  height: 15vh;
  justify-content: space-between;
  padding: 3rem;
  width: 100%;
}

.header__imagen-div {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 30%;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-icon {
  text-shadow: 0.5rem 0.5rem 0.2rem rgba(128, 128, 128, 0.3);
  color: #002927;
  font-size: 7rem;
}

.header__title {
  font-size: 4rem;
  margin-left: 1rem;
  font-family: "Architects Daughter", cursive;
  text-shadow: 0.5rem 0.5rem 0.2rem rgba(128, 128, 128, 0.3);
}

.menu {
  font-size: 1.6rem;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}

.menu__lista {
  display: flex;
}
