* {
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: white;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(48, 25, 52);
  background: rgb(62, 35, 67);
  background: linear-gradient(
    180deg,
    rgba(62, 35, 67, 1) 0%,
    rgba(50, 28, 53, 1) 50%,
    rgba(25, 14, 27, 1) 100%
  );
  min-height: 100vh;
}

a {
  color: #fff;
}

.header {
  display: flex;
  height: 12vh;
  justify-content: space-between;
  padding: 3rem;
  width: 100%;
  padding-bottom: 0;
}

.header__imagen-div {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 25%;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-icon {
  font-size: 7rem;
}

.header-icon,
.header__title,
.menu-plegable__img,
.menu-plegable__text,
.menu__link,
.menu-plegable__link,
.buscador__titulo,
.buscador__input::placeholder,
.carrusel__titulo,
.ref__list-title,
.Titles__table,
.content__table--num,
.content__table--link,
.footer__link {
  text-shadow: 0 0 0.7rem #ff6ec7, 0 0 1rem #ff6ec7, 0 0 2.1rem #ff6ec7,
    0 0 4.2rem #ff22ff, 0 0 8.2rem #ff22ff, 0 0 9.2rem #ff22ff;
}

.header-icon:hover,
.header__title:hover,
.menu-plegable__img:hover {
  color: #ffd6ef;
  cursor: pointer;
}

.header-icon:active,
.header__title:active,
.menu-plegable__img:active {
  color: #f7cdca;
}

.header__title {
  font-size: 4rem;
  margin-left: 1rem;
  font-family: "Architects Daughter", cursive;
}

.menu {
  align-items: center;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.menu__lista {
  display: flex;
}

.menu__item {
  margin-left: 3rem;
}

.menu__link {
  display: flex;
  height: 100%;
  padding: 1rem 2rem;
  border: 0.3rem solid white;
  border-radius: 1rem;
  box-shadow: inset 0rem 0rem 1.7rem #ff6ec7, 0rem 0rem 0.7rem #ff6ec7,
    0 0 1rem #ff6ec7, 0 0 2.1rem #ff6ec7, 0 0 4.2rem #ff22ff;
  font-weight: 700;
  font-size: 2rem;
  transition: 300ms;
  text-transform: uppercase;
}

.menu__link:hover {
  background-color: #ffd6ef;
  transform: scale(1.25);
}

.menu__link:active {
  transition: 100ms;
  background-color: #ff6ec7;
}

.menu-plegable {
  text-align: end;
}

.menu-plegable__contenedor {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10rem;
}

.menu-plegable__img {
  font-size: 5.2rem;
}

:focus-visible {
  outline: none;
}

.menu-plegable__img:hover {
  color: #ffd6ef;
}

.menu-plegable__link {
  font-size: 1.6rem;
}

.buscador {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 88vh;
}

.buscador__titulo {
  font-size: 4rem;
}

.buscador__input {
  margin-top: 5rem;
  background-color: transparent;
  border: 0.3rem solid white;
  border-radius: 3.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  padding: 2rem 3rem;
  width: 80%;
  text-align: start;
  box-shadow: inset 0rem 0rem 1.7rem #ff6ec7, 0rem 0rem 0.7rem #ff6ec7,
    0 0 1rem #ff6ec7, 0 0 2.1rem #ff6ec7, 0 0 1.7rem #ff22ff,
    inset 0 0 1.7rem #ff22ff;
}

.buscador__input::placeholder {
  color: white;
  font-weight: 300;
}

.buscador__input:focus-visible {
  background-color: rgba(255, 34, 255, 0.3);
}

.carrusel {
  overflow: auto;
  padding: 3rem;
  padding-top: 6rem;
  position: relative;
  width: 100%;
}

.carrusel__titulo,
.ref__list-title {
  font-size: 2rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

.carrusel::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3rem;
}

.carrusel::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 1rem;
}

.carrusel::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.carrusel::-webkit-scrollbar-thumb:hover:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.carrusel__contenedor {
  white-space: nowrap;
  margin: 7rem 0;
  padding-bottom: 3rem;
}

.carrusel-item {
  border-radius: 2rem;
  cursor: pointer;
  display: inline-block;
  height: 25rem;
  margin-right: 1rem;
  overflow: hidden;
  position: relative;
  transform-origin: center left;
  transition: 400ms;
  width: 20rem;
}

.carrusel-item:hover ~ .carrusel-item {
  transform: translate3d(10rem, 0, 0);
}

.carrusel__contenedor:hover .carrusel-item {
  opacity: 0.3;
}

.carrusel__contenedor:hover .carrusel-item:hover {
  opacity: 1;
  transform: scale(1.5);
}

.carrusel-item:hover .carrusel-item:last-child:hover {
  transform-origin: center left;
}

.carrusel-item__imagen {
  height: 25rem;
  object-fit: cover;
  width: 20rem;
}

.carrusel-item__detalles {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
  display: flex;
  flex-direction: column;
  bottom: 0;
  font-size: 1rem;
  justify-content: flex-end;
  left: 0;
  opacity: 0;
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 0;
  transition: 450ms opacity;
}

.carrusel-item__descripcion,
.carrusel-item__title,
.carrusel-item__salida {
  padding-left: 0.4rem;
}

.carrusel-item__title {
  font-size: 1.4rem;
  white-space: normal;
}

.carrusel-item__descripcion {
  white-space: normal;
  font-size: 1rem;
}

.carrusel-item__botones {
  height: 2.6rem;
  margin-right: 0.4rem;
  width: 2.6rem;
}

.carrusel-item__detalles:hover {
  opacity: 1;
}

.footer {
  padding: 5rem;
}

.footer__list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.footer__link {
  margin-right: 2rem;
  font-size: 1.6rem;
  font-weight: 900;
}

.footer__link:visited {
  color: white;
}

.table__title{
  font-size: 2rem;
  text-transform: uppercase;
  text-shadow: 0 0 0.7rem #ff6ec7, 0 0 1rem #ff6ec7, 0 0 2.1rem #ff6ec7,
    0 0 4.2rem #ff22ff, 0 0 8.2rem #ff22ff, 0 0 9.2rem #ff22ff;
}

.table{
  width: 75rem;
  height: 75rem;
  border: 1rem;
  border-style: inset;
  border-color: #ff22ff #ff6ec7; 
  box-shadow: 0 0 0.5rem #ff6ec7, 0 0 1rem #ff6ec7, 0 0 1.1rem #ff6ec7,
  0 0 1.2rem #ff22ff, 0 0 4.2rem #ff22ff, 0 0 3.2rem #ff22ff;  
}

.Titles__table,
.content__table--num{
  text-align: center;
}

.content__table{
  text-align: center;
  text-shadow: 0 0 0.7rem #F0F0F0, 0 0 0.1rem #F0F0F0, 0 0 1.1rem #F0F0F0,
  0 0 4.2rem #Fff, 0 0 8.2rem #fff, 0 0 9.2rem #fff ;
  font-size: 1.5rem;
}

.content__table--link{
  text-align: center;
  font-size: 1.5rem;
}

.content__table--link:hover{
  text-shadow: 0 0 0.7rem #1fff1f, 0 0 1rem #1fff1f, 0 0 2.1rem #1fff1f,
  0 0 4.2rem #06ff06, 0 0 8.2rem #06ff06, 0 0 9.2rem #06ff06 ;
  font-size: 2rem;
  transition: 1ms; 
}

.ref__link{
  text-shadow: 0 0 0.7rem #F0F0F0, 0 0 0.1rem #F0F0F0, 0 0 1.1rem #F0F0F0,
  0 0 4.2rem #Fff, 0 0 8.2rem #fff, 0 0 9.2rem #fff ;
  font-size: 1.5rem;
}

.ref__link:hover{
  text-shadow: 0 0 0.7rem #F0F0F0, 0 0 0.1rem #F0F0F0, 0 0 1.1rem #F0F0F0,
  0 0 4.2rem #Fff, 0 0 8.2rem #fff, 0 0 9.2rem #fff ;
  font-size: 2rem;
  transition: 1ms; 
}